- title t('.title')
#show_command
  = link_to t('common.title.edit'), edit_namecard_path(@namecard)
  = " "
  = link_to t('common.title.destroy'), @namecard, :method => :delete, data: {confirm: t("common.messages.delete_confirm")}
  = " "
  = link_to t('common.title.list'), namecards_path
h2
  =h @namecard.name
.box
  #descr
    dl
      = dtdd @namecard, "name"
      = dtdd @namecard, "company"
      = dtdd @namecard, "department"
      = dtdd @namecard, "jobtitle"
      = dtdd @namecard, "phone"
      = dtdd @namecard, "homepage"
      = dtdd @namecard, "email"
  = render "shared/attachments/detail", :target => @namecard
  .clear