<% @title = t('.title') %>
<div id="show_command">
	<%= link_to t('.new'), :action => "new" %>
</div>
<h2>Index</h2>
<% if !@modelnames.blank? %>
	<ul>
  <% for mn in @modelnames %>
    <li><%= mn %><br />
			<% if !@required_tags.blank? %>
				<ul>
			  <% for rt in @required_tags %>
			    <% if rt.modelname == mn %>
						<li><%= rt.tag.name %>
								[<%= link_to "X", rt, :confirm => "Are you sure?", :method => 'delete' %>]
						</li>
					<% end %>
			  <% end %>
				</ul>
			<% else %>
			  
			<% end %>
				
		</li>
  <% end %>
	</ul>
<% else %>
  
<% end %>
