= render 'contacts/find', subject: Taxman, redirect_to_subject: edit_contact_business_client_taxman_path(@business_client, @taxman), redirect_path: lambda {|contact| update_contact_business_client_taxman_path(@business_client, @taxman, contact: contact)}