= render 'contacts/find', subject: Taxman, redirect_to_subject: find_contact_business_client_taxmen_path(@business_client, :taxmen), redirect_path: lambda {|contact| select_contact_business_client_taxmen_path(@business_client, contact: contact)}