- title t("users.login.title")

= render 'oauth_login'


#login-form
  = form_tag do
    .box
      p
        = label_tag :name, t(".name")
        = text_field_tag :name, params[:name]
      p
        = label_tag :password, t(".password")
        = password_field_tag :password, params[:password]
      = submit_tag t('.login')

.login-link style="text-align: center;"
  h4
    ' or login with
    = link_to "Google", '/auth/google'
    '  /
    = link_to "Daum", '/auth/daum'
    '  /
    = link_to "Nate", '/auth/nate'
