<% title t(".title") %>
<div id="show_command">
  <%= link_to t("users.edit.title"), [:edit, @user]  %>
  |
  <%= link_to t("users.changepw.title"), :action => "changepw", :id => @user  %>
</div>
<%= render 'detail', :user => @user %>