-title t('.title')

#show_command
  - if @user.admin? && @this_user.enabled?
    =link_to t('.loginas'), :action => "loginas", :id => @this_user
    '  |
    =link_to t('.disable'), :action => "disable", :id => @this_user
    '  |
    =link_to t('.change_password'), :action => "changepw", :id => @this_user
    '  |
  - unless @this_user.google_account?
    = link_to t("users.google.create"), [:google_apps, @this_user], method: :post
    '  |
  =link_to t('common.title.edit'), edit_user_path(@this_user)
  '  |
  =link_to t('common.title.list'), users_path

= render 'detail', :user => @this_user