- title t(".title")
#show_command
  = link_to t('common.title.edit'), edit_attachment_path(@attachment)
  = " "
  = link_to t('common.title.list'), attachments_path
h2
  = t("common.title.show")
.box
  #descr
    = dtdd @attachment, "title"
    = dtdd @attachment, "comments"
    = dtdd @attachment, "contenttype"
    = dtdd @attachment, "original_filename"
    = dtdd @attachment, "filepath"
    = dtdd @attachment, "owner_type"
    = dtdd @attachment, "owner_id"
  = render "shared/attachments/detail", :target => OpenStruct.new(:attachments => [@attachment])
  .clear