- title t('.title')
#show_command
  = link_to t('common.title.show'), document_path(document)
  = " | "
  = link_to t('common.title.list'),  documents_path

h2
  = t 'common.title.edit'
= form_for(document, :url => { :action => "update" }, :html => { :class=>"tabular", :multipart => true }) do |f|
  .box
    = f.error_messages

    p
      = f.label :title, Document.human_attribute_name('title')
      = f.text_field :title
    p
      = f.label :project, Project.model_name.human
      = f.collection_select(:project_id, project_list, :id, :name)
    p
      = render 'shared/attachments/form', form: f
    p
      = f.label :owners, Document.human_attribute_name('owner')

  = f.submit t('common.button.update')

= form_tag({:action => :add_owner, :id => document},{:class => 'tabular'}) do
  .box
    p
      = label_tag :accountname, t(".addaccount")
      = text_field_tag :accountname
  = submit_tag t("common.button.add"), :id => "submit"
  .clear

= render 'tags/form', target: document