- title t('.title')
#show_command
  = link_to t('common.title.back'), documents_path
h2
  = t("common.title.new")
= form_for(document, :url => {:action => 'create'}, :html => {:class => "tabular", :multipart => true}) do |f|
  .box
    = f.error_messages
    p
      = f.label :title, Document.human_attribute_name('title')
      = f.text_field :title
    p
      = f.label Project.model_name.human
      = f.collection_select(:project_id, project_list, :id, :name)
    p
      = render 'shared/attachments/form', form: f
    - unless params[:tag].blank?
      p
        = label_tag "Tag"
        = params[:tag]
        = hidden_field_tag :tag, params[:tag]
  = f.submit t('common.button.create')