- title t('.title')

#show_command
  = link_to t('common.title.edit'), edit_document_path(document)
  = " | "
  = link_to t('common.title.destroy'), document, :method => :delete, confirm: t("common.messages.delete_confirm")
  = " | "
  = link_to t('common.title.list'), documents_path
h2
  =h document.title
.box
  #descr
    dl
      dt
        = Project.model_name.human
      dd
        = document.project_name
      dt
        = Document.human_attribute_name("owner")
      dd
        - if !document.users.blank?
          - user_names = document.users.index_by {|u| u.name }
          = user_names.keys.sort.join ", "
      dt
        = Document.human_attribute_name("tags")
      dd
        = document.tag_list
    h3
      = t(".backlink")
    ul
      - u = document.user_for_tag(Hrinfo.model_name.human)
      - if u
        li= link_to Hrinfo.model_name.human, :controller => "hrinfos", :action => "show", :id => u.hrinfo
  .clear
= render 'reports/info', target: document
= render "shared/attachments/detail", :target => document