#show_command
  - unless @creditcard.shinhan_card_used_histories.empty?
    = link_to "이용내역 원본 보기", shinhan_card_used_histories_path(creditcard_id: @creditcard)
    = " "
  - unless @creditcard.shinhan_card_approved_histories.empty?
    = link_to "승인내역 원본 보기", shinhan_card_approved_histories_path(creditcard_id: @creditcard)
    = " "
  - unless @creditcard.hyundai_card_used_histories.empty?
    = link_to "이용내역 원본 보기", hyundai_card_used_histories_path(creditcard_id: @creditcard)
    = " "
  - unless @creditcard.hyundai_card_approved_histories.empty?
    = link_to "승인내역 원본 보기", hyundai_card_approved_histories_path(creditcard_id: @creditcard)
    = " "
  - unless @creditcard.oversea_card_approved_histories.empty?
    = link_to "승인내역 보기", oversea_card_approved_histories_path(creditcard_id: @creditcard)
    = " "

  = link_to "사용내역 보기", card_histories_path(creditcard_id: @creditcard.id)
  = " "
  = link_to t("common.title.edit"), edit_creditcard_path(@creditcard)
  = " "
  = link_to t("common.title.list"), creditcards_path

h2= t("common.title.show")
.box
  #descr
    dl
      = dtdd @creditcard, "cardno"
      = dtdd @creditcard, "short_name"
      = dtdd @creditcard, "expireyear"
      = dtdd @creditcard, "expiremonth"
      = dtdd @creditcard, "nickname"
      = dtdd @creditcard, "issuer"
      = dtdd @creditcard, "cardholder"
      dt= @creditcard.class.human_attribute_name(:bank_account_id)
      dd= @creditcard.bank_account.name_with_number rescue ""
  = render "shared/attachments/detail", :target => @creditcard

  .clear
-if current_person.admin?
  = render 'changelog', target: @creditcard