#show_command
  = link_to t('common.title.back'), :creditcards

- newest = Creditcard.newest_history.to_date
- oldest = Creditcard.oldest_history.to_date


- period = Time.zone.parse("#{newest.year}-#{newest.month}-01 00:00:00").to_date
table#list-table
  thead
    tr
      th= t('creditcards.total.payment_date')
      th= t('creditcards.total.card_detail')
  tbody
    - ([""] + newest.step(oldest, -1).to_a).each do |period|
      - total_price = CardHistory.no_canceled.by_date(period).total_price
      - unless total_price == 0
        tr
          td
            = period.strftime("%Y.%m.%d") rescue t('creditcards.total.pending_payment')
          td
            table
              thead
                tr
                  th
                    = Creditcard.human_attribute_name(:cardholder)
                  th
                    = Creditcard.human_attribute_name(:cardno)
                  th
                    = Creditcard.human_attribute_name(:nickname)
                  th
                    = Creditcard.human_attribute_name(:total)
                - Creditcard.all.each do |card|
                  - total_price = card.card_histories.no_canceled.by_date(period).total_price
                  - unless total_price == 0
                    tr.selectable onclick="location.href='#{card_histories_path(creditcard_id: card, will_be_paid_at: period, no_canceled: true)}'"
                      td
                        = card.cardholder
                      td
                        = card.cardno
                      td
                        = card.nickname
                      td.numrow
                        = number_to_currency total_price
                tr style="background-color: yellow;"
                  td 총합
                  td
                  td
                  - approved = CardHistory.by_date(period)
                  td.numrow
                    = number_to_currency approved.total_price
              tbody