- title t('.title')
#show_command
  - unless project.completed?
    = link_to t('common.title.edit'), edit_project_path(project)
    ' |
  = link_to t('common.title.back'), projects_path
h2
  = project.name
.box
  table border="0" cellspacing="5" cellpadding="5"
    tr
      th
        = Project.human_attribute_name('revenue')
      td.money
        = number_to_currency project.revenue
    tr
      th
        = Project.human_attribute_name('started_on')
      td
        = project.started_on
    tr
      th
        = Project.human_attribute_name("ending_on")
      td
        = project.ending_on
  - if project.completed?
    tr
      th
        = Project.human_attribute_name("ended_on")
      td
        = project.ended_on
    tr
      th
        = t('projects.show.users')
      td
        - for user in project.users
          = user.name
          = link_to t('projects.show.allocation_ratio'), [:assign, user, :projects]
          br
  = render 'expense'