<%
  attachments = target.attachments

  at = params[:at].to_i || 0
  if attachments && at < attachments.count
    attachment = attachments[at]
%>
<div id="attach">
      <img src="<%= url_for(:controller => "attachments", :action => 'picture', :id => attachment.id, :w => "600", :h => "800") %>" />
  <% end %>
      <center>
  <% if attachments && at < attachments.count %>
        <%= link_to t("common.link.download"), :controller => "attachments", :action => "download", :id => attachment.id %> ...
  <% end %>
        <% if attachments %>
          <% 0.upto(attachments.count - 1) do |i| %>
            <%= link_to (i+1).to_s, {:at => i}, :id => attachments[i].id, :class => "move-attachment"  %>

          <% end %>
        <% end %>
      </center>
</div>

<% content_for :javascript do %>
<script type="text/javascript">
  $(function(){
    $('.move-attachment').click(function(e){
      e.preventDefault();

      var imageUrl = "/attachments/picture/" + e.target.id + "?h=800&amp;w=600";
      $('#attach img').attr('src', imageUrl);
    });

  });
</script>
<% end %>


