
#show_command
  - if current_person.admin?
    = link_to t('pay_schedules.new.link'), [:yearly, employee, :payments]
    = " "
    = link_to t('bonuses.new.link'), [:bonus, employee, :payments]
    = " "
  = link_to t('employees.show.title'), employee_path(employee)

h2
  = employee.fullname

table#list-table
  tr
    th
      = Payment.human_attribute_name('pay_at')
    th
      = Payment.human_attribute_name('pay_start')
    th
      = Payment.human_attribute_name('pay_finish')
    th
      = Payment.human_attribute_name('note')
    th
      = Payment.human_attribute_name('amount')
    th
      = Payment.human_attribute_name('total')
    - if current_person.admin?
      th
  - current_bg = '#e6e6e6'
  - payments.latest.group_by_month(current_company.payday).each do |month, payments|
    - show_sum = true
    - payments.each do |payment|
      - if show_sum
        - if current_bg == 'white'
          - current_bg = '#e6e6e6'
        - else
          - current_bg = 'white'
      tr style="background-color:#{ current_bg };"
        td
          = show_sum ? "#{month}.#{current_company.payday}" : ''
        td
          = payment.pay_start.strftime("%m.%d")
        td
          = payment.pay_finish.strftime("%m.%d")
        td
          = payment.note
        td.numrow
          = number_to_currency(payment.amount)
        td.numrow
          = show_sum ? (number_to_currency payments.sum{|payment| payment.amount}) : ''
        - if current_person.admin?
          td style="text-align:center;"
            = link_to t("common.link.edit"), [:edit, employee, payment]
            = " "
            = link_to t("common.link.destroy"), [employee, payment], :method => :delete, data: {confirm: t("common.messages.delete_confirm")}
      - show_sum = false

- if current_person.admin?
  h3
    = t("common.changes")
  - payments.each do |payment|
    = render 'changelog_item', target: payment