- title t('.title')
#show_command
  = link_to t('common.title.show'), @hrinfo
  = " | "
  = link_to t('common.title.back'), hrinfos_path
h2
  = t('common.title.edit')
= form_for(@hrinfo, :html => {:class => "tabular", :multipart => true}) do |f|
  .box
    = f.error_messages

    - if @user.ingroup?("admin")
      p
        = f.label :companyno, Hrinfo.human_attribute_name('companyno')
        = f.text_field :companyno
      p
        = f.label :lastname, Hrinfo.human_attribute_name('lastname')
        = f.text_field :lastname
      p
        = f.label :firstname, Hrinfo.human_attribute_name('firstname')
        = f.text_field :firstname
      p
        = f.label :department, Hrinfo.human_attribute_name('department')
        = f.text_field :department
      p
        = f.label :position, Hrinfo.human_attribute_name('position')
        = f.text_field :position
      p
        = f.label :joined_on, Hrinfo.human_attribute_name('joined_on')
        = f.date_select :joined_on, :order => [:year, :month, :day]
      p
        = f.label :listed, Hrinfo.human_attribute_name('listed')
        = f.check_box :listed
    p
      = f.label :juminno, Hrinfo.human_attribute_name('juminno')
      = f.text_field :juminno
    p
      = f.label :email, Hrinfo.human_attribute_name('email')
      = f.text_field :email
    p
      = f.label :phone_number, Hrinfo.human_attribute_name('phone_number')
      = f.text_field :phone_number
    p
      = f.label :address, Hrinfo.human_attribute_name('address')
      = f.text_field :address
    - if @user.ingroup?("admin")
      p
        = render 'shared/attachments/form', form: f
  = f.submit t("common.button.update")