- title t('.title')
#show_command
  - if @hrinfo.joined?
    = link_to t('hrinfos.show.pdf'), [:employment_proof, @hrinfo]
    ' |
  - if @user.ingroup?("admin") && ! @hrinfo.retired_on
    - if @hrinfo.joined?
      = link_to t('hrinfos.retire.title'), :action => :retire, :id => @hrinfo
      ' |
    = link_to t('common.title.edit'), edit_hrinfo_path(@hrinfo)
    ' |
  = link_to t('common.title.back'), hrinfos_path

h2
  = @hrinfo.fullname
.box
  #descr
    table border="0" cellspacing="5" cellpadding="5"
      tr
        th align="right"
          = Hrinfo.human_attribute_name('companyno')
          ' :
        td
          = @hrinfo.companyno
      tr
        th align="right"
          = Hrinfo.human_attribute_name('position')
          ' :
        td
          = @hrinfo.position
      tr
        th align="right"
          = Hrinfo.human_attribute_name('username')
          ' :
        td
          = @hrinfo.user.name
      - if @user.ingroup?("admin") || @hrinfo.user == @user
        tr
          th align="right"
            = Hrinfo.human_attribute_name('juminno')
            ' :
          td
            = @hrinfo.juminno
      tr
        th align="right"
          = Hrinfo.human_attribute_name('joined_on')
          ' :
        td
          = @hrinfo.joined_on
      - if @hrinfo.retired_on
        tr
          th align="right"
            = Hrinfo.human_attribute_name('retired_on')
            ' :
          td
            = @hrinfo.retired_on
    - if @hrinfo.contact
      #show_command
        = link_to t('hrinfos.show.find_address'), @hrinfo.contact

      h3
        = t("contacts.show.title")
      ul
        = render 'contacts/item_for_hrinfo', contact: @hrinfo.contact, menu: false
    - if @user.ingroup?("admin") || @hrinfo.user == @user
      - if @user.ingroup? "admin"
        #show_command
          = link_to t('required_tags.new.title'), :controller => "required_tags",  :action => "new", :modelname => Hrinfo.name, :returnurl => request.url

      h3
        = t('.related_documents')
      ul
        - if !@required_tagnames.blank?
          - for rtn in @required_tagnames
            li
              = rtn
              - if @required_documents[rtn]
                = link_to @required_documents[rtn].title, :controller => "documents", :action => "show", :id => @required_documents[rtn]
              - else
                = " "
                = link_to "Register", :controller => "documents", :action => "new", :tag => [rtn, Hrinfo.model_name.human, @hrinfo.user.name].join(',')
        - if !@unrequired_documents.blank?
          - for d in @unrequired_documents
            li
              = link_to d.title, :controller => "documents", :action => "show", :id => d

      - if @hrinfo.joined?
        h3
          = t(".related_admin_actions")
        ul
          - if @user.ingroup?("admin") || @hrinfo.user == @user
            li
              = link_to t('payments.title'), payment_path(@hrinfo.user)
            li
              = link_to t('vacations.show.link'), vacation_path(@hrinfo.user)
  #attach
    = render "shared/attachments/detail", :target => @hrinfo
  .clear

- if @user.ingroup? "admin"
  = render 'changelog', target: @hrinfo
- if @hrinfo.not_joined?
  = render 'reports/info', target: @hrinfo